[input]

Reads           = ./example_data/*.fastq                       ; Absolute or relative path (from TnSeq-Pipeline.py script) to TnSeq reads.
BowtieReference = ./example_data/bowtie2_reference/smeliloti   ; Path to bowtie2 reference genome. Use prefix.
Ptt             = ./example_data/bowtie2_reference/ptt/*.ptt   ; Path to PTT files of reference genome.
Out             = My_example_run                               ; Name for the output. (For example: My_example_run-GENE.txt and My_example_run-HOPS.txt)


################################

[parameters]

Transposon      = TCGAGATGTGTATAAGAGACAG   ; Transposon sequence
Mismatches      = 3                        ; Mismatches allowed when finding transposon
GeneTrim        = 10                       ; Percent of gene length truncated on both sides of gene where hops wont be counted.
ReadLength      = 25                       ; If read is shorter than this length after removing transposon it will be removed, otherwise it will be trimmed to this length and mapped.
MinimumHopCount = 1                        ; Any hop site with less than this number of occurrences (totaled across all conditions) will be removed from analysis and will not be outputed in results.

################################

[options]

Debug                   = False           ; Shows detailed running parameters for debugging purposes.
Normalize               = Total           ; Options: [Intergenic, Total] Intergenic: Normalize based on intergenic hops only. Total: Normalize based on all hops.
DeleteIntermediateFiles = True            ; Delete intermediate fasta and sam files at the end of the run.
ReverseComplementReads  = False           ; If True this will take the reverse complement of all reads in the input fasta/fastq file before searching for the transposon sequence.
IGVNormalize            = True            ; IF True .igv files will have normalized values. If False .igv files will have unormalized hop values.