[input]

Reads           = ./example_data/*.fastq                       ; Absolute or relative path (from TnSeq-Pipeline.py script) to TnSeq reads.
BowtieReference = ./example_data/bowtie2_reference/smeliloti   ; Path to bowtie2 reference genome. Use prefix.
Ptt             = ./example_data/ptt/*.ptt                     ; Path to PTT files of reference genome.
Out             = My_example_run                               ; Name for the output. (For example: My_example_run-GENE.txt and My_example_run-HOPS.txt)


################################

[parameters]

Transposon      = TCGAGATGTGTATAAGAGACAG   ; Transposon sequence
Mismatches      = 3                        ; Mismatches allowed when finding transposon
GeneTrim        = 10                      ; Percent of gene length truncated on both sides of gene where hops wont be counted.
ReadLength      = 25                       ; Length of reads (If read is shorter than this length after removing transposon it will be removed, otherwise it will be trimmed to this length and mapped).

################################

[options]

Debug           = True                    ; Shows detailed running parameters for debugging purposes.
Normalize       = True                     ; Normalize global hop counts in final -GENE output (-HOPS ouput remains as raw values even when Normalize=True).
