[input]

Reads           = ./example_data/gene_data/*.fasta                       ; Absolute or relative path (from TnSeq-Pipeline.py script) to TnSeq reads.
BowtieReference = ./example_data/bowtie2_reference/smeliloti   ; Path to bowtie2 reference genome. Use prefix.
Ptt             = ./example_data/gene_data/*.ptt                     ; Path to PTT files of reference genome.
Out             = My_gene_run                               ; Name for the output. (For example: My_example_run-GENE.txt and My_example_run-HOPS.txt)



################################

[parameters]

Transposon      =                         ; Transposon sequence;
Mismatches      = 1                        ; Mismatches allowed when finding transposon
GeneTrim        = 10                       ; Percent of gene length truncated on both sides of gene where hops wont be counted.
ReadLength      = 25                       ; Length of reads (If read is shorter than this length after removing transposon it will be removed, otherwise it will be trimmed to this length and mapped).
MinimumHopCount = 1                       ; Any hop site with less than this number of occurances (totaled across all conditions) will be removed from analysis and will not be outputed in results.

################################

[options]

Debug                   = True            ; Shows detailed running parameters for debugging purposes.
Normalize               = True            ; Normalize global hop counts based on intergenic hops counted.
DeleteIntermediateFiles = True            ; Delete intermediate fasta and sam files at the end of the run.
